doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/lib/angular.min.js')
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/js/app.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/lib/materialize.min.js')
