form.col-xs-12.col-md-8.material-input(method="POST" action="/login")
    .input-field.col.s6
        input#email(type='text' name="email")
        label.active(for='email') Correo
    .input-field.col.s6
        input#password(type='password' name="password")
        label.active(for='password') Contraseña
    .col-xs-12.text-center
        button.btn.btn-primary(type="submit") Iniciar Sesion